server:
  port: 8081
spring:
  application:
    name: metadata-service
  datasource:
    url: jdbc:h2:mem:metadatadb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enable: on
    hibernate:
      ddl-auto: update
    show-sql: true