server:
  port: 8081

spring:
  main:
    banner-mode: off

  application:
    name: metadata-service

  datasource:
    url: jdbc:h2:mem:metadatadb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''

  h2:
    console:
      enabled: true
  jap:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
